:root {
  --ion-color-dark: #000000;
  --ion-color-medium-dark: #272727;
  --ion-color-danger: #eb191b;
  --ion-color-danger-light: #f54d48;
  --ion-color-light-gray: #eeecec;
  --ion-color-white: #ffffff;
}
